[run]
omit =
    ./src/pyextremes/plotting/*
    ./src/pyextremes/tuning/*
    ./src/pyextremes/tests/test_base.py

[report]
exclude_lines =
    pragma: no cover
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    def __repr__
fail_under = 90.0
precision = 1
skip_empty = True
sort = Cover
