[flake8]
ignore =
    # line too long (we have to break this to preserve long links)
    E501,
    # whitespace before ':' (ignore to stay compatible with black)
    E203,
    # line break before binary operator
    W503,
max-line-length = 88
