[flake8]
ignore =
    E501,  # line too long (we have to break this to preserve long links)
    E203,  # whitespace before ':' (ignore to stay compatible with black)
    W503,  # line break before binary operator
max-line-length = 88
