# Development environment
.devcontainer
.vscode
.venv

# Python
__pycache__/
*.py[cod]
*.egg-info/
build/

# Testing
.pytest_cache
.coverage
coverage.xml

# Linting
.mypy_cache

# Build artifacts
sdist
