# Visual Studio Code files
.vscode/

# Pycharm files
.idea/

# Python files
__pycache__/
*.pyc

# Documentation
docs/build/
docs/source/_static/
docs/source/_templates/

# Linting
.mypy_cache

# Testing
.pytest_cache
.coverage

# Secrets
.env

# Deployment
*.egg-info/
build/
