language: python

python:
    - "3.6"
    - "3.7"

install:
    - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
    - bash miniconda.sh -b -p $HOME/miniconda
    - export PATH="$HOME/miniconda/bin:$PATH"
    - hash -r
    - conda config --set always_yes yes --set changeps1 no
    - conda update -q conda
    - conda info -a
    - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION
    - source activate test-environment
    - conda install -c conda-forge pytest pytest-cov codecov numpy pandas scipy matplotlib emcee
    - python setup.py install

script:
    - python -m pytest -v tests --cov=pyextremes

after_success:
    - codecov
