site_name: pyextremes
repo_url: https://github.com/georgebv/pyextremes
repo_name: georgebv/pyextremes
edit_uri: ""
site_description: Extreme Value Analysis (EVA) in Python
site_author: Georgii Bocharov
copyright: Copyright &copy; 2021 Georgii Bocharov

nav:
  - pyextremes: index.md
  - Quick Start: quickstart.md
  - User Guide:
      - Read First: user-guide/1-read-first.md
      - Extreme Value Types: user-guide/2-extreme-value-types.md
      - Block Maxima: user-guide/3-block-maxima.md
      - Peaks Over Threshold: user-guide/4-peaks-over-threshold.md
      - Threshold Selection: user-guide/5-threshold-selection.md
      - Estimating Return Periods: user-guide/6-return-periods.md

theme:
  name: material
  icon:
    repo: fontawesome/brands/github
  language: en
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/lightbulb-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/lightbulb
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.top

docs_dir: docs

extra_css:
  - css/extra.css

extra_javascript:
  - js/config.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/georgebv/pyextremes
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/gbocharov/

markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      linenums_style: pymdownx.inline
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.details
  - pymdownx.snippets
  - pymdownx.tabbed
  - abbr
  - admonition
  - attr_list

plugins:
  - search
