[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[packages]
emcee = ">=3.0"
matplotlib = "*"
numpy = "*"
pandas = "*"
scipy = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "==19.10b0"
pylint = "*"
flake8 = "*"
bandit = "*"
pydocstyle = "*"
mypy = "*"
"e1839a8" = {path = ".", editable = true}
