[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[packages]
emcee = ">=3.0"
matplotlib = ">=3.3"
numpy = ">=1.19"
pandas = ">=1.0"
scipy = ">=1.5"

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "==20.8b1"
pylint = "*"
flake8 = "*"
bandit = "*"
pydocstyle = "*"
mypy = "*"
twine = "*"
"e1839a8" = {path = ".", editable = true}
